slack:
  webhook_url: 'https://hooks.slack.com/services/XXXXXXXXXXX'
  username: 'zkillboard'
  kills:
    channel: '#kills'
    emoji: ':sunglasses:'
  losses:
    channel: '#losses'
    emoji: ':skull:'
zkillboard:
  # You can select your alliance, corporation, etc...
  # see more here : https://neweden-dev.com/ZKillboard_API#Fetch_modifiers
  kills_url: 'https://zkillboard.com/api/kills/allianceID/XXXXXXXXXXX'
  losses_url: 'https://zkillboard.com/api/losses/allianceID/XXXXXXXXXXX/'
services:
  enabled:
  # You can enable the service you want here
    - log
    - slack
